body {
    font: 12px Arial;
}
/*
path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
    shape-rendering: crispEdges;
}
*/
.axis path, .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.area {
    fill: lightsteelblue;
    stroke-width: 1;
    stroke: steelblue;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 40px;
    height: 25px;
    padding: 4px;
    font: 14px bold sans-serif;
    background: silver;
    border: 1px solid darkgrey;
    border-radius: 7px;
    pointer-events: none;
}

h1 {
  position: absolute;
  top: 800px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  width: 960px;
}

div.sorted_tooltip {
    position: absolute;
    text-align: left;
    width: 250px;
    height: 45px;
    padding: 4px;
    font: 16px bold sans-serif;
    background: silver;
    border: 1px solid darkgrey;
    border-radius: 7px;
    pointer-events: none;
}